<div class="card testimonial" style="margin: 5rem">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="./images/testimonial.jpg" alt="Image of the testimonial dude" />
      <span class="icon-container icon-container--accent">
        <svg class="icon--small icon--white">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, obcaecati
        repellendus quas numquam, ipsam quaerat tempore ab illum porro impedit
        est minus veritatis animi eum rem ullam expedita assumenda quod!
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
            <div class="media__body">
              <h3 class="media__title quote__author">Some Dude</h3>
              <p class="quote__organization">Some Big Position</p>
            </div>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
